<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock title %}
		</title>
		{% block external %}
			{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		{% endblock external %}
	</head>

	<body>
		{% include "app_coi/header.html" %}


		{% block content %}{% endblock content %}

		{% include "app_coi/footer.html" %}


		<!-- google analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-57901942-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</body>	
</html>
