{% extends "app_coi/base.html" %}

{% block title %}Welcome to COI{% endblock title %}

{% block content %}


{% load staticfiles %}

<div class ="page_content">

	<div class="contact_content">

		<h1 style="color: #8a9140; font-family:'Lusitana-Bold'">Contact Us</h2><br>

		<div class ="contact_col">
			<h2 style="font-family:'Lusitana-Bold'">Address</h3>
			<br>
			Center on Organizational Innovation<br>
			601 Knox Hall<br>
			606 West 122nd St<br>
			New York, NY, 10027<br>
		</div>



		<div class ="contact_col">
			<h2 style="font-family:'Lusitana-Bold'">Phone/Fax</h3>
			<br>
			212-854-3972 (P)<br>
			212-854-2963 (F)
		</div>


		<div class ="contact_col">
			<h2 style="font-family:'Lusitana-Bold'">Email</h3>
			<br>
			<a href="mailto:dcs36@columbia.edu" target="_top">dcs36@columbia.edu</a>
		</div>


	

	</div>



</div>



{% endblock content %}