<div id="footer">

	<div id="footer_table">



		<div class="div_col">
			<div class="footer_ul">
				<ul class="ul_col">
					<a href="#"><li>Directories</a>
					<a href="#"><li>Maps</a>
					<a href="#"><li>Contact Us</a>
					<a href="#"><li>A-Z Index</a>
				</ul>
			</div>
		</div>

		<div class="div_col">
			<div class="footer_ul">
				<ul class="ul_col">
					Center on Organizational Innovation<br>
					803 International Affairs<br>
					MC 3355<br>
					420 West 118th St<br>
					New York, NY 10027<br>
				</ul>
			</div>
		</div>



	</div>
			
</div>