
<footer id="footer">
	{% load staticfiles %}

	<div id="footer_wrapper">

		<div id="footer_social">
			<div id="footer_social_wrapper">
				<a href="#"><img class="social_img" src="{% static 'img/footer_cu.png'%}"></a>
				<a href="#"><img class="social_img" src="{% static 'img/footer_fb.png'%}"></a>
				<a href="#"><img class="social_img" src="{% static 'img/footer_twitter.png'%}"></a>
				<a href="#"><img class="social_img" src="{% static 'img/footer_yt.png'%}"></a>
			</div>
		</div>



		<div id="footer_right">
			<ul class="footer_col">
				<div class="footer_title">Quick Links</div>
				<a href="{% url 'about' %}"><li>About</li></a>
				<a href="{% url 'faculty' %}"><li>COI People</li></a>
				<a href="#" onclick="return false"><li>COI Projects</li></a>
				<a href="{% url 'event' %}"><li>COI Events</li></a>
			</ul>
			


			<ul class="footer_col">
				<div class="footer_title">Contact Us</div>
					212-854-3972 (P)<br>
					212-854-2963 (F)<br>
				<a href="mailto:dcs36@columbia.edu" target="_top">dcs36@columbia.edu</a>
			</ul>


			<ul class="footer_col long">
				<div class="footer_title">Address</div>
					601 Knox Hall<br>
					606 West 122nd St<br>
					New York, NY, 10027<br>
			</ul>		

		</div>


		<div id="copy_right">
			&copy; 2015 Columbia University<br>Center on Organizational Innovation
			<div id="yoon">Created by Yoon Min</div>
		</div>


	</div>

</footer>