
{% load staticfiles %}

<div id="header">

	<div id="navbar">
		<div id="navbar_top">
			<a id="logo" href="#"><img id="logo_img" src="{% static 'img/logo.jpg' %}" /></a>

			<div id="navbar_links">
				<a href="#" onclick="return false">Contact Us</a>|<a href="#">Directories</a>
			</div>



			<div id="navbar_search">
				<a href="#" onclick="return false" id="search_link" class="on_top">
					<img id="search_box" src="{% static 'img/search_box.jpg' %}" />
				</a>
			</div>

			<div id="navbar_search_hidden">
				<div>
					<div id="search_form" class="transparent">
						<form autocomplete="off" class="" method="post">
							{% csrf_token %}
							<input type="text" autocomplete="off" id="search_input" name="q" placeholder="Search" value="" />
							<input id="search_submit" type="submit" value=" " />
						</form>
					</div>
				</div>
			</div>

			<div id="search_close" class="transparent">
				<div>
					<a href="#" onclick="return false">
						<img id="search_close_icon" src="{% static 'img/close_icon.png' %}" />
					</a>
				</div>
			</div>

		</div>


		<ul id="navbar_bottom">
			<li id="menu_about"><a href="#" onclick="return false">ABOUT</a>
				<ul class="menu_col" style="border-right: 1px solid #797979">
					<li><a href="#" onclick="return false">Who We Are</a></li>
					<li><a href="#" onclick="return false">Research Papers</a></li>
					<li><a href="#" onclick="return false">Our Network</a></li>
				</ul>
			<li id="menu_people"><a href="#" onclick="return false">PEOPLE</a>
				<ul class="menu_col" style="border-right: 1px solid #797979">
					<li><a href="#" onclick="return false">Faculty and Staff</a></li>
					<li><a href="#" onclick="return false">Current Students</a></li>
					<li><a href="#" onclick="return false">Visiting Scholars</a></li>
					<li><a href="#" onclick="return false">Alumni</a></li>
				</ul>
			<li id="menu_projects"><a href="#" onclick="return false">PROJECTS</a>
				<ul class="menu_col" style="border-right: 1px solid #797979">
					<li><a href="#" onclick="return false">Coming Soon</a></li>
				</ul>
			<li id="menu_events"><a href="#" onclick="return false">EVENTS</a>
				<ul class="menu_col">
					<li><a href="#" onclick="return false">CODES Seminar</a></li>
					<li><a href="#" onclick="return false">Conferences</a></li>
				</ul>			
		</ul>




	</div>

</div>