

<div id="navbar">
	<div id="navbar_top" class="navbar_menu">
		<ul id="navbar_top_ul">
			<li><a href="#">Directories</a>
			<li><a href="#">Maps</a>
			<li><a href="#">Contact Us</a>
			<li><a href="#">A-Z Index</a>
		</ul>
	</div>

	<div id="navbar_middle">

	</div>






	<nav id="navbar_bottom" role="navigation">
		<ul id="navbar_bottom_ul" class="navbar_menu">
			<a href="#"><li>About</li></a><a href="#"><li>People</li></a><a href="#"><li>Projects</li></a><a href="#"><li>Seminars</li></a><a href="#"><li>Research</li></a>
		</ul>
	</nav>




	<ul>

		<li id="menu_about" class="menu_hidden">
			<div class="div_col">
				<ul class="ul_col">
					<li>About COI
					<li>Directories
					<li>Maps
					<li>Contacts
				</ul>
			</div>

			<div class="div_col">
				The Center on Organizational Innovation promotes research and experimentation with new forms of collaboration, communication, and coordination afforded by emerging interactive technologies.
			</div>
		




		<li id="menu_people" class="menu_hidden">
			<div class="div_col">
				<ul class="ul_col">
					<li>Advisory Board
					<li>Faculty and Staff
					<li>Recent Events
				</ul>
			</div>

			<div class="div_col">
				<ul class="ul_col">
					<li>Current Students
					<li>Alumni
					<li>Visiting Scholars
				</ul>
			</div>
		




		<li id="menu_projects" class="menu_hidden">
			<div class="div_col">
				<ul class="ul_col">
					<li>Social Studies of Finance
					<li>Technologies of Civil Society
					<li>Evolve New York
					<li>New Media Spaces
					<li>Organizations and Networks
					<li>URBZ
				</ul>
			</div>
						




		<li id="menu_seminars" class="menu_hidden">
			<div class="div_col">
				<ul class="ul_col">
					<li>Heterarchy Seminar
					<li>Gitelson Roundtable
					<li>CODES Seminar
				</ul>
			</div>

			<div class="div_col">
				<ul class="ul_col">
					<li>Conferences
					<li>Workshops
				</ul>
			</div>
			





		<li id="menu_research" class="menu_hidden">
			<div class="div_col">
				<ul class="ul_col">
					<li>Working Papers
					<li>Links
				</ul>
			</div>
		



	</ul>

</div>