


@font-face {
  font-family: 'Lusitana-Bold';
  src: url('../fonts/Lusitana-Bold.otf') format('opentype'),
       url('../fonts/Lusitana-Bold.woff') format('woff'),
       url('../fonts/Lusitana-Bold.ttf') format('truetype'),
       url('../fonts/Lusitana-Bold.svg#svgFontName') format('svg'),
       url('../fonts/Lusitana-Bold.eot');
}

@font-face {
  font-family: 'FuturaCnd-Bold';
  src: url('../fonts/FuturaCnd-Bold.otf') format('opentype'),
       url('../fonts/FuturaCnd-Bold.woff') format('woff'),
       url('../fonts/FuturaCnd-Bold.ttf') format('truetype'),
       url('../fonts/FuturaCnd-Bold.svg#svgFontName') format('svg');
}

* {
  margin: 0;
  padding: 0;

  /*font-family: Helvetica, Verdana;*/
  -webkit-font-smoothing: antialiased;
  
/*  box-shadow: inset 0px 0px 0px 1px #f00;
  -webkit-box-shadow: inset 0px 0px 0px 1px #f00;
  -moz-box-shadow: inset 0px 0px 0px 1px #f00;
*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Futura";
}

#header > #navbar .transparent {
  opacity: 0;
  visibility: hidden;
}

#header > #navbar .on_top {
  position: relative;
  z-index: 9999;
}

#header {
}

#header > #navbar {
  position: absolute;
  left: 0; right: 0; top: 3%;
  margin: 0 auto;

  width: 90%;
  height: 16%;
}




#header > #navbar > #navbar_top {

  background-color: #00344c;
  width: 100%;
  height: 100%;
}

#header > #navbar > #navbar_top > #logo {
  height: 100%;
}

#header > #navbar > #navbar_top > #logo > #logo_img {
  position: absolute;
  top: 0; bottom: 0;
  margin: auto;
  margin-left: 3%;
  height: 55%;
}










#header > #navbar > #navbar_top #navbar_search {
  position: absolute;
  top: 53%; right: 2%; 
  margin: auto;
  height: 100%;
}


#header > #navbar #navbar_search > #search_link {
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -o-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;


  height: 100%;
}

#header > #navbar #navbar_search > #search_link #search_box {
  height: 25%;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -o-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;

}





#header > #navbar #navbar_search_hidden {
  position: absolute;
  top: 52%; right: 5%; 
  margin: auto;
  height: 100%;
  width: 10%;
}


#header > #navbar #navbar_search_hidden > div > #search_form {
  width: 40%;
  height: 27%;

  position: absolute;
  top: 0; bottom: 0; right: 0;

  background-color: white;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -khtml-border-radius: 30px;
  -webkit-border-radius: 30px;

  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -o-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;    
}

#header > #navbar #navbar_search_hidden > div > #search_form > form { 
  height: 100%
}

#header > #navbar #navbar_search_hidden > div > #search_form #search_input {
  border: none;
  box-shadow: none;
  
  width: 80%;
  height: 75%;
  font-size: 1vw;

  position: absolute;
  top: 0; bottom: 0; left: 3%;
  margin: auto;

  margin-top: 5px;
  margin-left: 5%;

  border-radius: 30px;
  -moz-border-radius: 30px;
  -khtml-border-radius: 30px;
  -webkit-border-radius: 30px;
}

#header > #navbar #navbar_search_hidden > div > #search_form #search_submit {
  background: url("../img/search_icon_black.png") no-repeat top left;  
  background-size: cover;
  
  border: none;
  outline: none;
  box-shadow: none;

  cursor: pointer;

  position: absolute;
  height: 70%;
  top: 9%;
  right: 20px;
  float: right;

}






#header > #navbar #search_close {
  position: absolute;
  top: 55%; right: 2.5%; 
  margin: auto;
  height: 50%;

  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  -o-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;

}


#header > #navbar #search_close > div {
  height: 100%
}

#header > #navbar #search_close > div > a {
  height: 100%;
}


#header > #navbar #search_close > div > a > img {
  height: 1.5vw;
}








#header > #navbar > #navbar_top > #navbar_links {
  float: right;
  color: white;
  margin-right: 1%;
  margin-top: 1%;
  font-size: 1.1vw;
}
#header > #navbar > #navbar_top > #navbar_links a {
  color: white;
  margin: 0 20px;
}

#header > #navbar > #navbar_top > #navbar_links a:visited {
  color: white;
}



#header > #navbar > #navbar_bottom {
  width: 100%;
}

#header > #navbar > #navbar_bottom > li {
  position: relative;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 1.2vw;
  text-align: center;
  width: 25%;
  padding: 0.6% 0;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;  
}
#header > #navbar > #navbar_bottom > li > a {
  color: white;
}
#header > #navbar > #navbar_bottom > li > ul {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#header > #navbar > #navbar_bottom > li > ul > li > a {
  color: black;
}


#header > #navbar > #navbar_bottom > #menu_about:hover {
  background-color: #3b759c;
}
#header > #navbar > #navbar_bottom > #menu_about:hover > ul > li > a {
  color: #3b759c;
}

#header > #navbar > #navbar_bottom > #menu_people:hover {
  background-color: #90382e;
}

#header > #navbar > #navbar_bottom > #menu_people:hover > ul > li > a {
  color: #90382e;
}

#header > #navbar > #navbar_bottom > #menu_projects:hover {
  background-color: #c36613;
}

#header > #navbar > #navbar_bottom > #menu_projects:hover > ul > li > a {
  color: #c36613;
}

#header > #navbar > #navbar_bottom > #menu_events:hover {
  background-color: #8a9140;
}

#header > #navbar > #navbar_bottom > #menu_events:hover > ul > li > a {
  color: #8a9140;
}



#header > #navbar > #navbar_bottom > li > .menu_col {
  display: none;
  position: absolute;
  left: 0; top: 100%;

  margin-top: 5%;

  width: 100%;
  height: 450%;
  color: black;  
}

#header > #navbar > #navbar_bottom > li > ul > li {
  margin-bottom: 4%;
}





#main {
  position: absolute;
  left: 0; right: 0; top: 26%;
  margin: 0 auto;
  width: 100%;  
}

#content {
  position: absolute;
  left: 0; right: 0;
  margin: 0 auto;
  width: 90%;
}


#content > #slider {
  width: 100%;
  height: 100%;
  background-color: black;
}


#content > #slider .slider_content {
  color: white;

}

#content > #slider .slider_content > img {
  width: 100%;
  height: 100%;
}

#content > #slider_description {
  position: absolute;
  bottom: 0;
  background-color: #5a5a5a;
  color: white;
  width: 35%;

  padding: 3% 4% 3% 4%;
}

#content > #slider_description a {
  color: white;
}
#content > #slider_description a:visited {
  color: white;
}

#content > #slider_description .slider_box {
  width: 100%;
}

#content > #slider_description .slider_box .slider_title {
  font-size: 2.5vw;
  font-family: "Lusitana-Bold"
}

#content > #slider_description .slider_box .slider_content {
  text-align: justify;
  font-size: 1.2vw;
}


#content > #slider_description .slider_box .slider_hidden {
  display: none;
  margin-top: 6%;
  font-size: 1.4vw;
}

#content > #slider_description .slider_box .slider_hidden > li {
  padding-bottom: 2%;
}

#content > #slider_description .slider_box .slider_hidden > li > a {
  width: 100%;
  display:inline-block;
}

#content > #slider_description .slider_box .slider_hidden > li > a:hover {
  text-decoration: underline;
}

#content > #slider_description .slider_box .slider_hidden span {
  float: right;
}





#content > #slider_description .slider_box .pager {
  text-align: center;
  margin-top: 6%;
}

#content > #slider_description .slider_box .pager li {
  display: inline;
  margin: 0 2%;
}

#content > #slider_description .slider_box .pager .page a {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: black;
  display: inline-block;
  text-indent: -999em;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#content > #slider_description .slider_box .pager .page a:hover {
  background-color: #00fff6;
}

#content > #slider_description .slider_box .pager .page.active a {
  background-color: #00fff6;
}









#content #slider_description .hidden {
  display: none;
}











#content > #index_middle {
  position: absolute;
  top: 105%;
  width: 100%;
  height: 60%;
}

#content > #index_middle > #index_menus {
  display: inline-block;
  height: 100%;
  width: 66%
}

#content > #index_middle > #index_menus .menu_box {
  color: white;
  display: inline-table;

  position: relative;
  width: 23%;
  /*height: 0;*/
  /*padding-bottom: 23%;*/
  margin-right: 1.5%;

  background-color: black;
}

#content > #index_middle > #index_menus .menu_box img {
  opacity: 1;
  visibility: visible;
  width: 100%;

  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#content > #index_middle > #index_menus .menu_box:hover img {
  opacity: 0;
  visibility: none;
}

#content > #index_middle > #index_menus .menu_box:hover .box_title {
  opacity: 1;
  visibility: visible;
}

#content > #index_middle > #index_menus .menu_box .box_title {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1.2vw;

  opacity: 0;
  visibility: none;

  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;  
}




#content > #index_middle > #index_links {
  display: inline-block;
  vertical-align: top;
  width: 34%;

}

#content > #index_middle > #index_links > .link img {
  width: 100%;
  margin-bottom: 1%;
}

#content > #index_middle > #index_links > .other_link {
  float: right;
  font-size: 1.5vw;
}

#content > #index_middle > #index_links > .other_link a {
  color: #276f9b;
}
#content > #index_middle > #index_links > .other_link a:hover {
  text-decoration: underline;
}





#footer {
  background-color: #00344c;
  width: 100%;
  height: 40%;
  position: absolute;

  top: 140%;

  color: white;
  font-size: 1.1vw;
  font-family: Verdana;
}

#footer a {
  color: white;
}

#footer a:visited {
  color: white;
}

#footer #footer_right {
  position: absolute;
  right: 3%;
  width: 55%;
  text-align: right;
  border-left: 2px solid white;
  margin-top: 3.5%;  
}

#footer .footer_col {
  display: inline-block;
  /*width: 26%;*/
  vertical-align: top;
  margin-left: 5%;  
  text-align: left;

}

#footer .footer_col.long {
  /*width: 41%;*/
}

#footer .footer_col a:hover {
  text-decoration: underline;
}


#footer .footer_col .footer_title {
  font-family: "Futura", "FuturaCnd-Bold";
  font-size: 1.3vw;
  margin-bottom: 20px;
}





#footer > #footer_social {
  position: absolute;
  margin-left: 18%;
  margin-top: 3.5%;
  width: 20%;
}

#footer > #footer_social .social_img {
  width: 13%;

  margin-right: 10%;
  opacity: 0.7;
}

#footer > #footer_social a:hover .social_img {
  opacity: 1.0;
}





#copy_right {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30%;

  bottom: 7%;
}
#copy_right #yoon {
  color: #00344c;
}



